.loadDelayer {
  width: 100vw;
  height: 100vh;
  background: #292929;
  min-height: 200px;
  position: fixed;
  z-index: 99999;
  transition: transform 1s ease 1.5s;
  display: flex;
  justify-content: center;
  align-items: center;

  .circle {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    position: absolute;
    background: #000;
    height: 150px;
    width: 150px;
    background: url("../images/Logo-white-text.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: logoScale 3.5s ease-in-out infinite;
  }

  .text {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;

    span {
      color: color(neon-blue);
      font-weight: bold;
      position: absolute;
      left: 50%;
      font-size: 1.2em;
      transform-origin: 0 100px;
    }
  }

  &.get-lost {
    transform: translateY(-120%);
  }
}
