.loadDelayer {
  width: 100vw;
  height: 100vh;
  background: lighten(#161616, 10%);
  position: fixed;
  z-index: 99999;
  transition: transform 1s ease 0.3s;

  main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: color(light);
    text-transform: uppercase;
    font-size: 2rem;

    span {
      font-size: 4rem;
      color: color(neon-blue);
    }
  }

  &.get-lost {
    transform: translateY(-120%);
  }
}

@media (max-width: 500px) {
  .loadDelayer {
    h1 {
      font-size: 1rem;

      span {
        font-size: 2rem;
      }
    }
  }
}
