.loadDelayer {
  width: 100vw;
  height: 100vh;
  background: lighten(#161616, 10%);
  position: fixed;
  z-index: 9999;
  transition: transform 1s ease 0.3s;

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: color(light);
    text-transform: uppercase;
    font-size: 2rem;
    // line-height: 200%;

    span {
      font-size: 4rem;
      color: color(neon-blue);
    }
  }

  .preload-anim {
    width: 5rem;
    display: flex;
    justify-content: space-around;
    .dot {
      margin: 0 auto;
      opacity: 0;
      background: color(neon-blue);
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
    }
    .dot1 {
      animation: dotAnimation 3s ease 0s infinite alternate;
    }
    .dot2 {
      animation: dotAnimation 3s ease 1s infinite alternate;
    }
    .dot3 {
      animation: dotAnimation 3s ease 2s infinite alternate;
    }
  }

  &.get-lost {
    transform: translateY(-120%);
  }
}

@media (max-width: 500px) {
  .loadDelayer {
    h1 {
      font-size: 1rem;
      text-align: center;

      span {
        font-size: 3rem;
      }
    }
  }
}
@media (max-width: 313px) {
  .loadDelayer {
    h1 {
      font-size: 1rem;

      span {
        font-size: 2rem;
      }
    }
  }
}

@keyframes dotAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
