@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(154, 154, 154, 0.5);
  border-radius: 5px;
}

.bodyClone {
  position: relative;
  width: calc(100vw - 5px);
  overflow-x: hidden !important;
  color: #595959;
}

.bodyClone main.cont {
  padding: 0 1rem;
  max-width: 1150px;
  margin: 0 auto;
}

.bodyClone main.in-cont {
  padding: 0 1rem;
  max-width: 50rem;
  margin: 0 auto;
}

#gmail {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.nav-link {
  cursor: pointer;
}

.sect-1 {
  padding-top: 7rem;
  position: relative;
  background: #161616;
  color: white;
  height: 100vh;
  min-height: 568px;
  max-height: 668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sect-1 header {
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background: #161616;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sect-1 header .cont {
  padding: 1rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sect-1 header .cont .nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding-left: 3rem;
}

.sect-1 header .cont .nav li {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}

.sect-1 header .cont .nav-link {
  opacity: 0.6;
  margin-right: 1rem;
}

.sect-1 header .cont .nav-button {
  margin-left: auto;
  padding: 4px 12px;
  background: #03dfe1;
  color: #161616;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 2px solid #03dfe1;
}

.sect-1 header .cont .nav-button:hover {
  background: #161616;
  color: #03dfe1;
}

.sect-1 header.scrolled {
  color: #161616;
  background: white;
  -webkit-box-shadow: 0 0 1rem rgba(87, 87, 87, 0.534);
          box-shadow: 0 0 1rem rgba(87, 87, 87, 0.534);
}

.sect-1 header.scrolled .nav-button {
  color: white;
}

.sect-1 header.scrolled .nav-button:hover {
  background: white;
}

.sect-1 .stairs {
  z-index: 101;
  margin-left: auto;
  padding: 0.25rem;
  width: 2.3rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: none;
}

.sect-1 .stairs .line {
  border-radius: 10px;
  background: #03dfe1;
  width: 100%;
  height: 4px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.sect-1 .stairs.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sect-1 .stairs.active .line1 {
  -webkit-transform: translateY(10px) rotate(calc(5 * 45deg));
          transform: translateY(10px) rotate(calc(5 * 45deg));
}

.sect-1 .stairs.active .line2 {
  opacity: 0;
}

.sect-1 .stairs.active .line3 {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.sect-1 .logo {
  z-index: 102;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.sect-1 .logo img {
  height: 2rem;
}

.sect-1 .logo h1 {
  margin-left: 3px;
  font-weight: 500;
  font-size: 1.2rem;
}

.sect-1 .logo.activeNav {
  color: #161616 !important;
}

.sect-1 .actual-cont {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sect-1 .actual-cont_img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 22rem;
          flex: 1 1 22rem;
  width: 50%;
  text-align: center;
  height: 100%;
}

.sect-1 .actual-cont_text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 22rem;
          flex: 1 1 22rem;
  width: 50%;
}

.sect-1 .actual-cont_img {
  position: relative;
}

.sect-1 .actual-cont_img img {
  pointer-events: none;
  position: absolute;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sect-1 .actual-cont_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sect-1 .actual-cont_text h4 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5rem;
  color: #03dfe1;
}

.sect-1 .actual-cont_text h2 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin: 0.5rem 0 0;
}

.sect-1 .actual-cont_text h2 span {
  letter-spacing: 0.5rem;
  color: #03dfe1;
}

.sect-1 .actual-cont_text p {
  margin: 1rem auto;
  letter-spacing: 2px;
  font-size: 0.8rem;
  line-height: 24px;
}

.sect-1_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sect-1_btns a {
  color: #03dfe1;
  font-weight: 600;
  margin-right: 0.5rem;
  background: #161616;
  padding: 4px 12px;
  text-decoration: none;
  border: 2px solid #03dfe1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  white-space: nowrap;
}

.sect-1_btns a:hover {
  background: #03dfe1;
  color: #161616;
}

.sect-1_btns a:nth-last-child(1) {
  background: #03dfe1;
  color: #161616;
}

.sect-1_btns a:nth-last-child(1):hover {
  background: #161616;
  color: #03dfe1;
}

@media (max-width: 665px) {
  .sect-1 header .cont .nav {
    padding: 2rem 1rem;
    position: fixed;
    z-index: 100;
    background: white;
    top: 0;
    right: 0;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    width: 50vw;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0 0 2rem rgba(69, 69, 69, 0.561);
            box-shadow: 0 0 2rem rgba(69, 69, 69, 0.561);
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .sect-1 header .cont .nav.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .sect-1 header .cont .nav li {
    text-align: center;
    width: 100%;
    font-size: 18px;
  }
  .sect-1 header .cont .nav-link {
    margin: 0;
  }
  .sect-1 header .cont .nav-button {
    margin: 0;
    color: white;
  }
  .sect-1 header .cont .nav-button:hover {
    background: white;
    color: #03dfe1;
  }
  .sect-1 header .cont .stairs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 740px) {
  .sect-1 .actual-cont_text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    text-align: center;
  }
  .sect-1 .actual-cont_img {
    display: none;
  }
  .sect-1 .actual-cont_img img {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-filter: grayscale(70%);
            filter: grayscale(70%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 280px) {
  .sect-1 .logo img {
    height: 1.5rem;
  }
  .sect-1 .logo h1 {
    font-size: 1rem;
  }
  .sect-1 .actual-cont_text h2 {
    font-size: 2rem;
  }
  .sect-1 .actual-cont_text h2 span {
    letter-spacing: 1px;
  }
  .sect-1 .actual-cont_text p {
    margin: 1rem auto;
    letter-spacing: 2px;
    font-size: 0.7rem;
    line-height: 24px;
  }
}

@media (max-width: 450px) {
  .sect-1 .sect-1_btns a {
    width: 100%;
    margin-bottom: 1rem;
  }
  .sect-1 header .cont .nav {
    width: 100vw;
  }
}

.loadDelayer {
  width: 100vw;
  height: 100vh;
  background: #292929;
  min-height: 200px;
  position: fixed;
  z-index: 99999;
  -webkit-transition: -webkit-transform 1s ease 2s;
  transition: -webkit-transform 1s ease 2s;
  transition: transform 1s ease 2s;
  transition: transform 1s ease 2s, -webkit-transform 1s ease 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loadDelayer .circle {
  position: relative;
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loadDelayer .logo {
  position: absolute;
  background: #000;
  height: 150px;
  width: 150px;
  background: url("../images/Logo-white-text.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation: logoScale 3.5s ease-in-out infinite;
          animation: logoScale 3.5s ease-in-out infinite;
}

.loadDelayer .text {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: rotateText 10s linear infinite;
          animation: rotateText 10s linear infinite;
}

.loadDelayer .text span {
  color: #03dfe1;
  font-weight: bold;
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  -webkit-transform-origin: 0 100px;
          transform-origin: 0 100px;
}

.loadDelayer.get-lost {
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
}

.portfolio h2,
.portfolio h1 {
  display: inline-block;
  text-align: center;
  margin: 3rem auto;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 0 -1rem 5px #d4d4d4;
  border-bottom: 3px solid rgba(212, 212, 212, 0);
}

.portfolio h2:hover {
  border-bottom: 3px solid #d4d4d4;
}

.portfolio main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, auto))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(15rem, auto));
}

.portfolio main .single {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 14rem;
  margin: 0.5rem;
  -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.205);
          box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.205);
  overflow: hidden;
}

.portfolio main .single img.cmngSoon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  display: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -o-object-fit: contain;
     object-fit: contain;
}

.portfolio main .single img.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.portfolio main .single .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.822)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.822));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  color: white;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 5;
}

.portfolio main .single .overlay h3 {
  position: relative;
  text-transform: capitalize;
  padding-bottom: 0.5rem;
}

.portfolio main .single:hover .overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.portfolio main .single:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.portfolio main a {
  background: white;
  color: black;
  font-size: 0.7rem;
  margin-top: 1rem;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.portfolio main a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.portfolio main .incomplete img.cmngSoon {
  display: block !important;
}

.portfolio main .incomplete .link {
  pointer-events: none;
}

.topTaker {
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  background: white;
  color: #03dfe1;
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.6s cubic-bezier(0.55, -0.55, 0.43, 1.45);
  transition: 0.6s cubic-bezier(0.55, -0.55, 0.43, 1.45);
  z-index: 10;
}

.topTaker i {
  position: relative;
  bottom: 0.1rem;
  font-size: 1.2rem;
}

.topTaker.inActive {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.contactOverlay {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none !important;
}

.contactOverlay .overContact {
  background: black;
  opacity: 0.74;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.contactOverlay .social {
  -webkit-box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
  max-height: 100vh;
  overflow: scroll;
  position: relative;
  padding: 2rem;
  margin: 1rem;
  text-align: center;
  width: 100%;
  height: auto;
  max-width: 40rem;
  background: #f2f2f2;
}

.contactOverlay .social > p {
  opacity: 0.7;
  margin: 0.5rem 0 1rem;
}

.contactOverlay .social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactOverlay .social_img {
  height: 3rem;
  width: auto;
}

.contactOverlay .social_single {
  padding: 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 5rem;
          flex: 0 1 5rem;
  text-decoration: none;
}

.contactOverlay .social_single p {
  font-size: 0.8rem;
  color: #161616;
}

.contactOverlay .socialAlert {
  position: absolute;
  border: 2px solid #03dfe1;
  background: transparent;
  color: #03dfe1;
  top: 30px;
  left: 50%;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: 600;
  -webkit-transform: translate(-50%, -200px);
          transform: translate(-50%, -200px);
}

.contactOverlay .socialAlert.active {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.contactOverlay.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (max-width: 500px) {
  .contactOverlay .social {
    padding: 2rem 1rem;
  }
}

@-webkit-keyframes rotateText {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateText {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes logoScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes logoScale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=styles.css.map */